<!-- Header -->
	<div id="header-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-12">

					<header id="header">
						<h1><a href="index.html" id="logo">Minimaxing</a></h1>
						<nav id="nav">
							<a asp-controller="Home" asp-action="Index" >Главная</a>
							<a href="twocolumn1.html">Смартфоны</a>

							<a href="onecolumn.html">Планшеты</a>
							<a asp-controller="Account" asp-action="Login" >Register</a>
						</nav>
					</header>

				</div>
			</div>
		</div>
	</div>